<div class="container">
	<mdb-card class="my-2">
		<mdb-card-body>
			<div @exitTrigger *ngIf="!isLoading">
				<mdb-card-title>
					<h4> {{ todoListItem.title }} </h4>
				</mdb-card-title>
				<mdb-card-text>
					<div class="float-left">
						<mdb-badge style="margin-right: 10px;" pill="true" default="true" class="p-2">{{ todoListItem.label }}
						</mdb-badge>
						<mdb-badge *ngIf="+todoListItem.priority === 0" pill="true" primary="true" class="p-2">Low</mdb-badge>
						<mdb-badge *ngIf="+todoListItem.priority === 1" pill="true" warning="true" class="p-2">Medium </mdb-badge>
						<mdb-badge *ngIf="+todoListItem.priority === 2" pill="true" danger="true" class="p-2">High </mdb-badge>
						<br><br>
						Created on: {{ todoListItem.created_on | date }}
						<br>
						Due date: {{ todoListItem.due_on | date }}
					</div>
					<div class="float-right">
						<button type="button" (click)="onComplete()" class="item-btn" mdbBtn color="success" mdbWavesEffect
							size="sm" mdbTooltip="Mark as completed" placement="top">
							<mdb-icon fas icon="check"></mdb-icon>
						</button>
						<button type="button" (click)="onDelete()" class="item-btn" mdbBtn color="danger" mdbWavesEffect size="sm"
							mdbTooltip="Delete" placement="top">
							<mdb-icon fas icon="trash-alt"></mdb-icon>
						</button>
						<app-edit-item [task]="todoListItem" [index]="index"></app-edit-item>
					</div>
				</mdb-card-text>
			</div>
			<app-spinner-sm *ngIf="isLoading"></app-spinner-sm>
		</mdb-card-body>
	</mdb-card>
</div>