<div class="row">
	<div class="col-md-6 offset-md-3">
		<p *ngIf="error!== null" style="color: #f44336; font-size: 0.8rem;" class="text-center">  {{ errorMsg }} </p>
		<form [formGroup]="signinForm" (ngSubmit)="onSubmit()">
			<div class="md-form">
				<input type="email" id="email" formControlName="email" class="form-control" mdbInput mdbValidate>
				<label for="email">Your email</label>
				<mdb-error
					*ngIf="signinForm.get('email').invalid && (signinForm.get('email').dirty || signinForm.get('email').touched)">
					Please Enter a valid email address
				</mdb-error>
			</div>
			<div class="md-form mb-4">
				<input type="password" id="password" formControlName="password" class="form-control" mdbInput mdbValidate>
				<label for="password">Your password</label>
			</div>
			<div class="d-flex justify-content-center">
				<button [disabled]="signinForm.pristine || signinForm.invalid || submitBtnDisabled" type="submit" mdbBtn color="info"
					class="waves-light" mdbWavesEffect>Sign In</button>
			</div>
		</form>
	</div>
</div>